html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $--fontFamily;
  font-size: 3vw;
  overflow-x: hidden;
  color: #F4FABF;
  @include tabletPlus {
    font-size: 16px;
  }
}

#root {
  flex-grow: 1;
}

main {
  height: 100%;
}

h1,h2,h3,h4,h5 {
  color: #F4FABF;
  margin: 0 0 20px;
  font-family: 'Fahkwang';
  font-weight: bold;
}

h2 {
  font-size: 6vw;
  font-weight: 300;
  @include tabletPlus {
    font-size: 32px;
  }
}

a {
  color: #E0FF4E;
}

fieldset {
  border: 0;
  margin: 0 0 20px;
  padding: 0;
  label {
    display: block;
    padding: 9px 20px;
  }
}
input, button, textarea {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #E0FF4E;
  box-sizing: border-box;
  color: #E0FF4E;
  display: block;
  padding: 12px 20px;
  width: 100%;
  height: 50px;
  font-family: 'Fahkwang';
  font-size: 18px;
  outline: none;
}

textarea {
  height: 150px;
}

button {
  color: #E0FF4E;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

label {
  display: block;
}

.text-right {
  text-align: right;
}