.text-center { text-align: center; }
.text-right { text-align: right; }

// Padding left & padding right
.px-lg { padding-right: 32px; padding-left: 32px; }
.pr-lg { padding-right: 32px; }
.pr-md { padding-right: 24px; }
.pr-sm { padding-right: 12px; }

.pl-lg { padding-left: 32px; }
.pl-md { padding-left: 24px; }
.pl-sm { padding-left: 12px; }

.py-lg { padding-top: 32px; padding-bottom: 32px; }