@import '@Sass/variables';
@import '@Sass/fonts.scss';

.rocketLoading {
  animation: rocket 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rocket {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(30px) rotateZ(0deg);
  }
}

/* class para pintar el texto del proyecto seleccionado */
.activeLink {
  border-bottom: 3px solid $--colorYellow;
  color: $--colorYellow;
}



ul.content{
  text-align: end;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    strong {
      height: 40px;
      display: inline-flex;
      align-items: center;
    }
  }
}