@import "../../sass/variables";

.centerButton {
  display: flex;
  justify-content: center;
}

.buttonPrimary {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 10vw;
  position: relative;
  color: inherit;
  font-size: inherit;
  text-align: center;
  @include md {
    height: 42px;
    &.lg {
      width: 322px;
    }
    &.md {
      width: 242px;
    }
    &.md {
      width: 182px;
    }
  }
  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    &:first-of-type {
      opacity: 0;
      transition: opacity 0.15s ease-in;
      path {
        fill: #FB6C2B;
      }
    }
    &:last-of-type {
      stroke-width: 2px;
      path {
        filter: drop-shadow(0 0 4px #E0FF4E);
        stroke: #E0FF4E;
      }
    }
  }
  span {
    display: block;
    position: relative;
  }
  &.buttonPlanetCompleted {
    svg {
      &:first-of-type {

        opacity: 0.5;
      }
      &:last-of-type {
        path {
          filter: drop-shadow(0 0 5px #FB6C2B);
          stroke: #FB6C2B;
        }
      }
    }
    &::after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjc1IDMuNjY2NjdMMCA1LjVMNS4yNSAxMUwxNCAxLjgzMzMzTDEyLjI1IDBMNS4yNSA3LjMzMzMzTDEuNzUgMy42NjY2N1oiIGZpbGw9IiNFNkY4NUEiLz4KPC9zdmc+');
      display: block;
      content: '';
      width: 14px;
      height: 12px;
      position: relative;
    }
  }
  &.buttonPlanetIncomplete {
    svg {
      display: none !important;
    }
  }
  &:hover {
    svg {
      &:first-of-type {
        opacity: 0.5;
      }
    }
  }
  &:disabled {
    cursor: not-allowed;
    svg {
      &:last-of-type {
        opacity: 0.25;
        filter: none;
      }
    }
    span {
      opacity: 0.75;
    }
    &:hover {
      svg {
        &:first-of-type {
          opacity: 0;
        }
      }
    }
  }
}