@import '@Sass/_variables';
@import '@Sass/components/extends';
@import '@Sass/_fonts';

/********* Footer Style ********/
.Footer {
  background-image: url(../../assets/images/footer-space-man.png),
    url(../../assets/images/footer-bg.png);
  background-position: bottom right, 150% 160%;
  background-repeat: no-repeat;
  background-size: 60vw, 117vw;
  padding: 5vw 5vw 75vw;
  @include desktop {
    background-position: right top, 66% -3vw;
    background-size: contain, 75%;
    padding: 10vw 3vw 3vw;
  }

  @include largeDevices {
    background-position: right top, 92% -4vw;
  }

  .footer_content {
    display: flex;
    flex-direction: column;

    @include tablet {
      grid-template-columns: 1fr;
    }

    .f1 {
      .footer_social {
        padding-bottom: 12px;
        img {
          margin-right: 12px;
        }
        p {
          font-family: $MontserratExtraLight;
          color: $--colorYellow;
          font-size: 0.7rem;
          line-height: 1.9;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          width: auto;
        }
      }
      .linksFooter {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;

        .linkFooter {
          color: $--colorYellow;
          font-size: 0.7rem;
          line-height: 1.9;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          width: auto;

          &:hover {
            @extend %transition;
            color: $--colorPurple;
          }
        }
      }

      .copy {
        color: $--colorYellow;
        font-size: 0.7rem;
        line-height: 1;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        width: auto;
        position: relative;
      }
    }
  }
}
