@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';

main {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100vh;
  &.login,
  &.repassword {
    background-image: url('../../assets/images/bg-form.jpg');
    background-position: 20% center;
    background-size: cover;
  }
}

.formAuthPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  @include largeDevices {
    align-items: normal;
    justify-content: flex-end;
  }
  .formAuthContainer {
    background-color: rgba(77, 84, 47, 0.45);
    padding: 64px 2.5vw 0;
    position: relative;
    max-width: 640px;
    width: 100%;
    @include largeDevices {
      padding: 150px 5vw 0;
      right: 7.5vw;
      width: 47%;
      max-width: 720px;
    }
    .formContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2rem;
      position: relative;
      @include mediumDevicesMax {
        display: block;
      }
    
      h2, p {
        text-align: center;
      }
    }
    .contentInfo {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: flex-end;
      height: 80%;
      @include tablet {
        height: 70%;
        justify-content: flex-start;
      }
      @include mediumDevicesMax {
        height: 60%;
      }
      .haveAccount {
        color: $--colorWhite;
        font-size: 1rem;
        text-align: center;
        line-height: normal;
        position: relative;
        font-family: $MontserratRegular;
        @include mediumDevicesMax {
          width: 100%;
        }
      }
    
      .loginLink {
        color: $--colorWhite;
        font-size: 1rem;
        text-align: center;
        line-height: normal;
        font-family: $MontserratRegular;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
        @include mediumDevicesMax {
          width: 100%;
        }
      }
    
      .loginLink,
      .haveAccount {
        margin: 0 auto;
      }
    }
  }
}

.buttonFacebook {
  background-color: transparent !important;
  border: 1px solid #E0FF4E;
  box-sizing: border-box;
  color: #E0FF4E;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 12px 20px;
  width: 100%;
  height: 50px;
  font-family: 'Fahkwang';
  font-size: 18px;
  outline: none;
  cursor: pointer;
  svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}