@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';

.formAuthPageMain {
  background-image: url('../../assets/images/bg-form.jpg');
  background-position: 20% center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  @include largeDevices {
    align-items: normal;
    justify-content: flex-end;
  }
}

.formAuthContainer {
  background-color: rgba(77, 84, 47, 0.45);
  padding: 64px 2.5vw 0;
  position: relative;
  max-width: 640px;
  width: 100%;
  @include largeDevices {
    padding: 150px 5vw 0;
    right: 7.5vw;
    width: 47%;
    max-width: 720px;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  position: relative;
  @include mediumDevicesMax {
    display: block;
  }

  h2, p {
    text-align: center;
  }
}

.buttonFacebook {
  background-color: transparent !important;
  border: 1px solid #E0FF4E;
  box-sizing: border-box;
  color: #E0FF4E;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 12px 20px;
  width: 100%;
  height: 50px;
  font-family: 'Fahkwang';
  font-size: 18px;
  outline: none;
  cursor: pointer;
  svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.planetWrap {
  scrollbar-color: #363636 transparent;
  overflow: auto;
  height: 100vh;
}

.planetContainer {
  background-color: rgba(77, 84, 47, 0.45);
  position: relative;
  top: 100px;
  width: 100%;
  &::before {
    border-top: 1px solid #E6F85A;
    background: rgba(77, 84, 47, 0.45);
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 4px;
    @include largeDevices {
      left: 10%;
      right: 10%;
      width: 80%;
    }
  }
  @include largeDevices {
    margin: auto;
    max-width: 720px;
    width: 70%;
    &::after {
      background-image: url("../../assets/images/corner-left.svg"), url("../../assets/images/corner-right.svg");
      background-position: left, right;
      background-repeat: no-repeat;
      background-size: auto 16px;
      display: block;
      content: "";
      width: auto;
      height: 16px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: calc(100% + 35px);
      transform: translateX(-50%);
    }
  }
}

.planetContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.planetContentUrano {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planetContentSocial {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.planetContent2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pageContainer {
  margin: auto;
  padding: 24px 0;
  width: 100%;
  height: 100%; 
}

.inputMedium {
  width: 100%;
  height: 35px;
  left: 0px;
  top: 0px;
  background: $--rgbaColorGray;
  border-radius: 10px;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
  font-size: 0.9rem;
  font-family: $MontserratMedium;
  text-align: left;
  padding-left: 4px;
  @include placeholder {
    font-size: 0.8rem;
    color: $--colorPlaceHolder;
    padding-left: 10px;
  }
}

.TextArea {
  margin-top: 12px;
  margin-bottom: 1rem;
  border: none;
  background: $--rgbaColorGray;
  border-radius: 10px;
  padding: 12px 0 0 8px;
  outline: none;
  width: 100%;
  @include placeholder {
    font-size: 0.8rem;
    color: $--colorPlaceHolder;
  }
  @include tablet {
    padding: 8px;
    width: 97%;
  }
}

.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  label {
    color: $--colorWhite;
    font-family: $MontserratSemiBold;
    font-size: 16px;
  }
  select,
  option {
    width: 100%;
    border-radius: 10px;
    border: none;
    background: $--rgbaColorGray;
    margin-top: 16px;
    margin-bottom: 4px;
    padding: 12px 0 12px 6px;
    color: #3f3f56;
    font-family: $MontserratMedium;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }
  .arrow {
    position: absolute;
    height: 100%;
    width: auto;
    top: 14px;
    right: 40px;
    z-index: -0;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      left: 12px;
    }
    &::before {
      border-color: $--colorPurple transparent transparent transparent;
      border-width: 14px 10px 0 10px;
      bottom: 40%;
      left: 7px;
    }
    &::after {
      border-color: $--colorPurple transparent transparent transparent;
      border-width: 14px 10px 0 10px;
      bottom: 40%;
      left: 7px;
    }
  }
}

/* Boton agregas mas */
.add {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 146px;
  margin-top: 1rem;
  &:hover {
    .icon {
      color: $--colorPurple;
    }
    b {
      color: $--colorPurple;
    }
  }
  .icon {
    color: $--colorAzul;
    font-size: 1.6rem;
  }
  b {
    font-family: $MontserratRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $--colorAzul;
    left: 8px;
    position: relative;
  }
}

/** leyenda escribe minimo **/
.minimo {
  font-size: 1rem;
  font-family: $MontserratLight;
  line-height: 20px;
  color: $--colorWhite;
  margin: 8px 0 8px 0;
}

/** contenedor de los botones siguiente y anteior ***/
.contentButtons {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.flexButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** Boton paso 2 **/
.btnStepDos {
  @extend %buttonOn;
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.textCenter {
  width: 90%;
  text-align: center;
  color: $--colorWhite;
  font-size: 1rem;
  font-style: normal;
  line-height: 20px;
  font-family: $MontserratRegular;
}

.textCenterthanksp {
  width: 100%;
  text-align: center;
  color: $--colorWhite;
  font-size: 1rem;
  font-style: normal;
  line-height: 20px;
  font-family: $MontserratRegular;
  padding-top: 8%;
}

.textCenterthanks {
  width: 100%;
  text-align: center;
  color: $--colorWhite;
  font-size: 1rem;
  font-style: normal;
  line-height: 20px;
  font-family: $MontserratRegular;
  padding-bottom: 7%;
}

.paddingTop {
  padding-top: 3rem;
}
.paddingBottom {
  padding-bottom: 8rem;
}
.footerLayout{

  width: 100%; /* Ancho completo del contenedor */
  background-size: contain; /* La imagen se ajusta para estar completamente dentro del contenedor */
  
  clear: both; /* Asegura que el footer esté debajo de los elementos flotantes */
  margin-top: auto;
  
  background: url('../../assets/images/Astronauta_Footer.svg') top 120px right no-repeat,
              url('../../assets/images/Rectangle29.svg') repeat center center;
             


}

.satelite {
  animation: floatingSatellite 16s ease-in-out infinite;
  position: fixed;
  top: 48px;
  right: 72px;
}

.space-man {
  animation: floatingSpaceman 6s ease-in-out infinite;
  position: fixed;
  top: 56%;
  left: 110%;
  width: 55%;
  @include largeDevices {
    top: 50%;
    width: 36%;
  }
}

@keyframes floatingSatellite {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-12px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes floatingSpaceman {
	0% {
		transform: translate(-80%, 0px);
	}
	50% {
		transform: translate(-80%, -20px);
	}
	100% {
		transform: translate(-80%, 0px);
	}
}