@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

body {
  display: none;
}

.launch {
  .rocketLuna {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: auto;
    @include mediumDevicesMax {
      display: none;
    }
  }

  .rocketLunaEffect {
    animation: urano 8s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }

  /** Questions content **/
  .LaunchText {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: $--colorWhite;
    line-height: normal;
    @include mediumDevicesMax {
      font-size: 1.1rem;
      margin: 0;
    }
    @include smallDevices {
      font-size: 1rem;
    }
  }

  .LaunchQuestion1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    text-align: center;
    figure {
      margin: 0;
      padding: 0;
      margin-bottom: 24px;
      img {
        display: block;
        width: 100%;
      }
    }
    h2, p {
      margin: 0 0 24px;
    }
  }
}

.questionContent {
  padding: 0 32px;
}

@keyframes urano {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(24px) rotateZ(-14deg);
  }
}

@keyframes astronaut {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(24px) rotateZ(-4deg);
  }
}
