@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';

.planetBackToTheHomepage {
  background-color: transparent;
  background-image: url(../../assets/images/button-bg.svg);
  border: 0;
  height: 56px;
  position: sticky;
  top: 100px;
  width: 259px;
  span {
    display: block;
    position: relative;
    &::after,
    &::before {
      display: block;
      content: "";
      top: 50%;
      
      position: absolute;
      right: 100%;
    }
    &::after{
      background: url(data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2231%22%20viewBox%3D%220%200%2015%2031%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.3208%207.67619L15%200H10.4717L6.50943%207.67619H4.24528L0%2015.6476L4.24528%2023.619H6.50943L10.4717%2031H15L11.0377%2023.619H9.0566L4.81132%2015.6476L9.0566%207.67619H11.3208Z%22%20fill%3D%22%23E6F85A%22%20fill-opacity%3D%220.3%22%2F%3E%3C%2Fsvg%3E);
      height: 31px;
      width: 16px;
      transform: translate(-100%, -50%);
    }
    &::before {
      background: url(data:image/svg+xml,%3Csvg%20width%3D%225%22%20height%3D%2211%22%20viewBox%3D%220%200%205%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%2011V0H3.4375L0%205.5L3.4375%2011H5Z%22%20fill%3D%22%23E6F85A%22%2F%3E%3C%2Fsvg%3E);
      width: 5px;
      height: 12px;
      transform: translate(-16px, -50%);
    }
  }
}

.planetWrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px; 
  padding: 100px 0 0;
  scrollbar-color: #363636 transparent;
  @include largeDevices {
    display: grid;
    grid-template-columns: 1fr minmax(50%, 700px) 1fr;
    padding: 100px 32px 36px;

  }
  .satelite {
    animation: floatingSatellite 16s ease-in-out infinite;
    position: fixed;
    top: 48px;
    right: 72px;
    z-index: -1;
    pointer-events: none;
  }
  .mainContainer{
    margin: 0;
    padding: 24px 32px;

  }
  .planetContainer,
  .profileContainer {
    position: relative;
    top: 9px;
    width: 100%;
    order: +1;
    @include largeDevices {
      order: initial;
      margin: 0 auto;
      max-width: 720px;
    }
    .planetContent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .pageContainer {
        margin: auto;
        padding: 24px 0;
      }
    }
    
  }
  .planetContainer  {
    background-color: rgba(77, 84, 47, 0.45);
    &::before {
      border-top: 1px solid #E6F85A;
      background: rgba(77, 84, 47, 0.45);
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 100%;
      height: 4px;
      @include largeDevices {
        left: 10%;
        right: 10%;
        width: 80%;
      }
    }
    @include largeDevices {
      &::after {
        background-image: url("../../assets/images/corner-left.svg"), url("../../assets/images/corner-right.svg");
        background-position: left, right;
        background-repeat: no-repeat;
        background-size: auto 16px;
        display: block;
        content: "";
        width: auto;
        height: 16px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: calc(100% + 35px);
        transform: translateX(-50%);
      }
    }
  }
  .profileContainer {
    margin: auto;
    padding: 0 24px;
    width: auto;
    @include largeDevices {
      max-width: 520px;
    }
    .avatar {
      
      figure {
        position: relative;
        margin: 0;
        padding: 0;
        width: 148px;
        height: 148px;

        
        img {
          border-radius: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
          filter: drop-shadow(0 0 7px #E6F85A);
        }
      }
      label {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuNzVhLjc1Ljc1IDAgMCAxIC43NS43NXY0Ljc1aDQuNzVhLjc1Ljc1IDAgMCAxIDAgMS41SDguNzV2NC43NWEuNzUuNzUgMCAwIDEtMS41IDBWOC43NUgyLjVhLjc1Ljc1IDAgMCAxIDAtMS41aDQuNzVWMi41QS43NS43NSAwIDAgMSA4IDEuNzUiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #E6F85A;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      &:hover {
        label {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjRTBGRjRFIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuNzVhLjc1Ljc1IDAgMCAxIC43NS43NXY0Ljc1aDQuNzVhLjc1Ljc1IDAgMCAxIDAgMS41SDguNzV2NC43NWEuNzUuNzUgMCAwIDEtMS41IDBWOC43NUgyLjVhLjc1Ljc1IDAgMCAxIDAtMS41aDQuNzVWMi41QS43NS43NSAwIDAgMSA4IDEuNzUiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
          background-color: #000000;

        }
      }
    }
  }
  .planetHelper {
    position: relative;
    padding: 0 3vw;
    width: 100%;
    @include largeDevices {
      position: sticky;
      top: 132px;
      padding: 0;
      max-width: 320px;
    }
    .planetHelperBorder {
      align-items: center;
      display: flex;
      justify-content: center;
      &::before,
      &::after {
        box-sizing: border-box;
        display: block;
        content: '';
        height: 30px;
      }
      &::before {
        background-image: url(../../assets/images/card-corners.svg);
        width: 30px; 
      }
      &::after {
        background-color: rgba(152, 69, 55, 0.55);
        flex-grow: 1;
        border-style: solid;
        border-color: rgb(152, 69, 55);
      }
    }
    .planetHelperBorderTop {
      &::after {
        border-width: 1px 1px 0 0;
      }
    }
    .planetHelperBorderBottom {
      flex-direction: row-reverse;
      &::after {
        border-width: 0 0 1px 1px;
      }
      &::before {
        background-position: bottom right;
      }
  
    }
    .planetHelperContainer {
      background-color: rgba(152, 69, 55, 0.55);
      border-color: rgb(152, 69, 55);
      border-style: solid;
      border-width: 0 1px;
      box-sizing: border-box;
      width: 100%;
    }
    .planetHelperTitle {
      border-bottom: 1px solid #984521;
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      margin: 0 20px;
      h2 {
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 0 12px;
      }
    }
    
    .planetHelperContent {
      padding: 1px 20px;
      a {
        display: flex;
        align-items: center;
        gap: 9px;
        position: relative;
        &::after {
          background: url(data:image/svg+xml,%3Csvg%20width%3D%225%22%20height%3D%2212%22%20viewBox%3D%220%200%205%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.61651e-07%200.5L0%2011.5L1.5625%2011.5L5%206L1.5625%200.5L9.61651e-07%200.5Z%22%20fill%3D%22%23E6F85A%22%2F%3E%3C%2Fsvg%3E);
          display: block;
          content: '';
          height: 12px;
          width: 5px;
        }
      }
    }
  
  }
}

.questionWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 24px 32px;
  .gridIconText {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 24px;
    img {
      display: block;
      width: 100%;
    }
  }
  .grid3Columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    div {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      figure {
        margin: 0;
        img {
          display: block;
          width: 83px;
        }
      }
      p {
        padding: 0;
      }
    }
  }
  .flexButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    @include largeDevices {
      align-items: center;
      flex-direction: row;
    }
  }
  figure {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    img {
      display: block;
      width: 100%;
    }
  }
  h2 {
    font-weight: bold;
    text-align: center;
  }
  h2, p {
    margin: 0 0 20px;
    p {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}



.fieldsets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
    width: 50%;
  }
  fieldset {
    flex-grow: 1;
    &:last-child {
      margin-left: 20px;
    }
  }
  input {
    margin: 0 !important;
  }
}

.toggleFormButton {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  cursor: pointer;
  span {
    color: #FFFFFF;
  }
  &::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNFMEZGNEUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNCA4bDggOGw4LTgiLz48L3N2Zz4=');
    background-size: cover;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
  }
  &.open {
    border-color: rgba(230,248,90,0.5);
    span {
      color: $--colorYellow;
    }
    &::after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNFMEZGNEUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNCAxNmw4LThsOCA4Ii8+PC9zdmc+');
    }
    + form {
      border-bottom: 1px solid $--colorYellow;
      margin-bottom: 20px;
      padding: 20px 0;
    }
  }
}

.buttonAdd {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  cursor: pointer;
  &::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjRTBGRjRFIiBkPSJNOCAwYTggOCAwIDEgMSAwIDE2QTggOCAwIDAgMSA4IDBtMS4wNjIgNC4zMTJhMSAxIDAgMSAwLTIgMHYyLjc1aC0yLjc1YTEgMSAwIDAgMCAwIDJoMi43NXYyLjc1YTEgMSAwIDEgMCAyIDB2LTIuNzVoMi43NWExIDEgMCAxIDAgMC0yaC0yLjc1WiIvPjwvc3ZnPg==");
    background-size: cover;
    display: block;
    content: '';
    width: 24px;
    height: 24px;
  }
  &:hover {
    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjRTBGRjRFIiBkPSJNOCAwYTggOCAwIDEgMSAwIDE2QTggOCAwIDAgMSA4IDBNMS41IDhhNi41IDYuNSAwIDEgMCAxMyAwYTYuNSA2LjUgMCAwIDAtMTMgMG03LjI1LTMuMjV2Mi41aDIuNWEuNzUuNzUgMCAwIDEgMCAxLjVoLTIuNXYyLjVhLjc1Ljc1IDAgMCAxLTEuNSAwdi0yLjVoLTIuNWEuNzUuNzUgMCAwIDEgMC0xLjVoMi41di0yLjVhLjc1Ljc1IDAgMCAxIDEuNSAwIi8+PC9zdmc+");
    }
  }
}

.customFileUpload {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA2NyA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTU2LjY0NjUgMjEuMDM5NEM1NS4xODk4IDkuNTY2MDIgNDUuMzY2NSAwLjY2NjAxNiAzMy40OTk4IDAuNjY2MDE2QzI0LjMxMzIgMC42NjYwMTYgMTYuMzMzMiA2LjAzNjAxIDEyLjY4OTggMTQuNDk5M0M1LjUyOTg0IDE2LjYzOTMgMC4xNjY1MDQgMjMuMzk5MyAwLjE2NjUwNCAzMC42NjZDMC4xNjY1MDQgMzkuODU2IDcuNjQzMTcgNDcuMzMyNyAxNi44MzMyIDQ3LjMzMjdINTMuNDk5OEM2MC44NTMyIDQ3LjMzMjcgNjYuODMzMiA0MS4zNTI3IDY2LjgzMzIgMzMuOTk5NEM2Ni44MjggMzEuMDExNCA2NS44MjE5IDI4LjExMTMgNjMuOTc1NSAyNS43NjIxQzYyLjEyOSAyMy40MTMgNTkuNTQ4NyAyMS43NTAyIDU2LjY0NjUgMjEuMDM5NFpNMzYuODMzMiAzMC42NjZWNDAuNjY2SDMwLjE2NjVWMzAuNjY2SDIwLjE2NjVMMzMuNDk5OCAxMy45OTkzTDQ2LjgzMzIgMzAuNjY2SDM2LjgzMzJaIiBmaWxsPSIjRTBGRjRFIi8+Cjwvc3ZnPgo=');
  background-position: center;
  background-repeat: no-repeat;
  border: 4px dashed #E6F85A;
  aspect-ratio: 16 / 9;
  width: 100%;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}