@import '@Sass/variables';
@import '@Sass/fonts.scss';

.Profile {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: $--fontFamily;
  padding-top: 2rem;
  padding-bottom: 2rem;  


  .ProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .formContent {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      width: 100%;
      margin-left: 50%;
      
      %Label {
        display: flex;
        flex-direction: row;
        text-align: left;
        color: $--colorWhite;
        font-family: $MontserratRegular;
        line-height: 30px;
        small {
          color: $--colorGreen;
          margin-left: 6px;
        }
      }

      %InputText {
        border: 1px solid $--colorPurple;
        width: 280px;
        border-radius: 0;
        padding: 5px 12px 5px 12px;
        text-align: left;
        outline: none;
        font-family: $MontserratRegular;
        font-size: 0.9rem;
      }

      %Text {
        color: $--colorWhite;
        font-family: $MontserratRegular;
        font-size: 0.9rem;
        margin-left: 20px;
      }

      .form1 {

        .link {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 6px;
          p {
            color: $--colorWhite;
            font-family: $MontserratRegular;
            font-size: 0.9rem;
            margin: 0;
          }
          a {
            color: $--colorGreen;
            font-family: $MontserratRegular;
            font-size: 0.8rem;
            margin-left: 8px;
            cursor: pointer;
          }
        }

        h2 {
          text-align: left;
          color: $--colorWhite;
          font-family: $MontserratMedium;
          font-size: 1rem;
          margin-top: 2rem;
          
        }

        label {
          text-align: left;
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-family: $MontserratRegular;
          color: $--colorWhite;
          @include mediumDevicesMax {
            text-align: center;
            justify-content: center;
          }
        }

        .form {
          .formControl {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 20px;
            width: 100%;

            @include mediumDevicesMax {
              grid-template-columns: 1fr;
              margin-top: 8px;
              margin-bottom: 8px;
              border-bottom: 1px solid $--colorPurple;
              width: 80%;
            }

            .formInputs {
              margin-top: 0.8rem;
              .formLabel {
                @extend %Label;
              }
              .inputText {
                @extend %InputText;
              }
              .texts {
                @extend %Text;
              }
            }
          }

          .formControlPlus {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 0;
            width: 100%;

            .formInputs {
              .formLabel {
                @extend %Label;
              }
              .inputText {
                @extend %InputText;
                width: 96%;
              }
              .texts {
                @extend %Text;
              }
            }
          }
          .spanError {
            display: flex;
            align-items: center;
            color: $--colorWhite;
            padding-top: 6px;
            padding-left: 6px;
            span {
              margin-left: 6px;
              font-size: 1rem;
              top: 2px;
              position: relative;
              font-family: $MontserratRegular;
            }
          }
        }

        .metodoPago {
          display: flex;
          flex-direction: column;
          width: 100%;
          a {
            background-color: $--colorPurple;
            border: none;
            color: $--colorWhite;
            font-family: $MontserratBold;
            padding: 12px 28px 12px 28px;
            text-align: keft;
            cursor: pointer;
            width: 100%;
            height: auto;
            font-size: 1rem;
            &:hover {
              background-color: $--colorAzul;
              color: $--colorAzulMarino;
            }
          }
        }
        .informacion {
          color: $--colorWhite;
          font-family: $MontserratRegular;
          font-size: 0.9rem;
          a {
            color: $--colorWhite;
            font-family: $MontserratRegular;
            font-size: 0.9rem;
            margin-left: 6px;
            &:hover {
              color: $--colorPurple;
            }
          }
        }
        .compra {
          margin-top: 2rem;
          background-color: $--colorPurple;
          border: none;
          color: $--colorWhite;
          font-family: $MontserratBold;
          padding: 6px 28px 6px 28px;
          text-align: center;
          cursor: pointer;
          width: 50%;
          height: auto;
          font-size: 0.9rem;
          &:hover {
            background-color: $--colorAzul;
            color: $--colorAzulMarino;
          }
        }

        .verdatos{
          display:flex;
          
          span{
          
            padding-left: 17%;
            text-decoration: underline;
            color: #00ff9f;
            cursor: pointer;
            
          }
  
        }

        .ocultardatos{

          display: flex;
          
          span{
          
            padding-left: 21%;
            text-decoration: underline;
            color: #00ff9f;
            cursor: pointer;
            
          }
  
        }

        .verdatosF{
          display:flex;
          
          span{
          
            padding-left: 11%;
            text-decoration: underline;
            color: #00ff9f;
            cursor: pointer;
            
          }
  
        }

        .ocultardatosF{

          display: flex;
          
          span{
          
            padding-left: 15%;
            text-decoration: underline;
            color: #00ff9f;
            cursor: pointer;
            
          }
  
        }
      }

      .result {
        .totalInfo {
          border: 1px solid $--colorPurple;
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 22px;

          h2 {
            text-align: center;
            color: $--colorGreen;
            font-family: $MontserratMedium;
            font-size: 1rem;
            margin-top: 2rem;
          }
          .producto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $--colorWhite;
            h3 {
              text-align: center;
              color: $--colorWhite;
              font-family: $MontserratMedium;
            }
          }
          .subTotal {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $--colorWhite;

            .subTotalInfo {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              p {
                color: $--colorWhite;
                font-family: $MontserratRegular;
                font-size: 0.9rem;
                strong {
                  font-family: $MontserratMedium;
                }
                &.colorGreen {
                  color: $--colorGreen;
                }
              }
            }
          }
          .total {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            height: 120px;
            p {
              color: $--colorWhite;
              font-family: $MontserratRegular;
              font-size: 0.9rem;
              strong {
                font-family: $MontserratMedium;
              }
              &.colorGreen {
                color: $--colorGreen;
              }
            }
          }
        }
      }
    }


    .info {
      position: relative;
      top: 0;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: $--colorWhite;
      width: 50%;
      font-family: $MontserratMedium;
    }

    .accountName {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      color: $--colorWhite;
      width: 100%;

      @include mediumDevicesMax {
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        font-size: 1.4rem;
        text-align: left;
        @include mediumDevicesMax {
          text-align: center;
          font-size: 1.2rem;
        }
      }
      h4 {
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mediumDevicesMax {
          font-size: 0.8rem;
        }
      }
    }

    .Avatar {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      figure {
        width: 120px;
        height: 120px;
        background-color: $--colorAzul;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          position: absolute;
        }

        .upload {
          width: 100%;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            color: $--colorWhite;
            font-size: 1.5rem;
            position: relative;
            top: 32px;
          }
          input[type='file'] {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            z-index: 1;
            top: 80px;
            left: 20px;
          }
        }
      }

      .nombre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          font-family: $MontserratBold;
          font-size: 1rem;
          line-height: 20px;
          color: $--colorWhite;
          text-align: center;
        }
        .icon {
          color: $--colorWhite;
          margin-left: 1rem;
          cursor: pointer;
          &:hover {
            color: $--colorPurple;
          }
        }
      }

      .nombre_edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .iconContent {
          display: flex;
          .icon {
            color: $--colorWhite;
            cursor: pointer;
            margin: 0.6rem;
            &:hover {
              color: $--colorPurple;
            }
          }
        }
      }
    }

    .InfoContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      width: 100%;
      margin-left: 50%;

      @include mediumDevicesMax {
        grid-template-columns: 1fr;
        margin-top: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid $--colorPurple;
        width: 80%;
      }

      label {
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-family: $MontserratRegular;
        color: $--colorWhite;
        @include mediumDevicesMax {
          text-align: center;
          justify-content: center;
        }
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $MontserratBold;
        color: $--colorWhite;
      }

      span {

        text-decoration: underline;
        color: #00ff9f;
        cursor: pointer;
      }

      .cardContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 12px;
        }
        p {
          color: $--colorWhite;
        }
      }
      span {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mediumDevicesMax {
          justify-content: center;
        }

        .linkView {
          font-style: normal;
          font-weight: 200;
          font-size: 0.9rem;
          color: $--colorAzul;
          text-decoration: underline;
          text-align: right;
          cursor: pointer;
        }

        a {
          font-size: 1rem;
          color: $--colorAzul;
          text-decoration: none;
          text-align: right;
          line-height: 20px;
          font-family: $MontserratRegular;
          &:hover {
            text-decoration: underline;
          }
          @include mediumDevicesMax {
            font-size: 0.7rem;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}

.modal {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  overflow: hidden;
  .ModalContent {
    background: $--colorWhite;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
    margin: 0 auto;
    @include mediumDevicesMax {
      max-width: 100%;
      padding: 2rem;
    }
    .conekta {
      width: 480px;
      height: 520px;
    }

    .success {
      width: 150px;
      height: 30px;
    }
    .closeNav {
      padding: 12px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      .iconClose {
        color: $--colorAzulMarino;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
          color: $--colorPurple;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
