@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

.passwordContent {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  h2 {
    font-size: 1.2rem;
    color: $--colorWhite;
    text-align: center;
    position: relative;
    font-family: $MontserratBold;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .label_account {
      color: $--colorWhite;
      font-family: $MontserratRegular;
      font-size: 1rem;
      margin-bottom: 2rem;
      line-height: 1;
      text-align: center;
      width: 60%;
    }

    .account_input {
      width: 360px;
      height: 42px;
      border: 1px solid $--colorPurple;
      font-family: $MontserratRegular;
      border-radius: 30px;
      background: transparent;
      color: $--colorWhite;
      outline: none;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include mediumDevicesMax {
        width: 100%;
      }
    }
  }

  .buttonRegister {
    @extend %buttonOn;
    width: 244px;
    margin: 12px 0 12px 0;
    @include mediumDevicesMax {
      width: 100%;
      margin: 12px 0 0 0;
    }
  }

  .messageInfo {
    margin: 1rem 0 1rem 0;
    color: $--colorWhite;
  }
}

.contentInfo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-end;
  height: 80%;
  @include tablet {
    height: 70%;
    justify-content: flex-start;
  }
  @include mediumDevicesMax {
    height: 60%;
  }
  .haveAccount {
    color: $--colorWhite;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    position: relative;
    font-family: $MontserratRegular;
    @include mediumDevicesMax {
      width: 100%;
    }
  }

  .loginLink {
    color: $--colorWhite;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    font-family: $MontserratRegular;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    @include mediumDevicesMax {
      width: 100%;
    }
  }

  .loginLink,
  .haveAccount {
    margin: 0 auto;
  }
}

.rocketLuna {
  position: absolute;
  right: 0;
  bottom: -200px;
  width: 600px;
  height: auto;
  @include largeDevices1200 {
    right: -200px;
  }
  @include desktopMax {
    right: -300px;
  }
  @include tablet {
    display: none;
  }
}
