@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

.LaunchQuestion {
  display: flex;
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    h2 {
      font-size: 2rem;
      font-weight: 900;
      color: $--colorAzul;
      text-align: center;
      position: relative;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 400;
      color: $--colorWhite;
      text-align: center;
      position: relative;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    .astronautImg {
      width: 180px;
      height: auto;
    }
    .astronautEffect {
      animation: astronaut 5s ease-in-out infinite alternate;
      transform-origin: center;
      transform-box: fill-box;
    }
    .btnPlanet {
      @extend %buttonOn;
      height: 50px;
      margin-top: 1rem;
      @include mediumDevicesMax {
        width: 100%;
        height: 46px;
        margin: 12px 2px 8px 2px;
      }
      @include smallDevices {
        height: 42px;
      }
    }
  }
}
