@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/utils';

.Alerts {

  .error {
    width: 100%;
    .spanError {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $--colorWhite;
      .icon {
        font-size: 1rem;
        margin-left: 8px;
      }
      p {
        font-family: $MontserratMedium;
        margin-left: 8px;
      }
    }
  }

}

.Modal {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 99999;

  .ModalContent {
    background-color: rgba(77, 84, 47, 0.45);
    color: $--colorWhite;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 36px 36px 24px;
    position: relative;
    margin: 0 auto;
    &::before {
      border-top: 1px solid #E6F85A;
      background: rgba(77, 84, 47, 0.45);
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 100%;
      height: 4px;
      @include largeDevices {
        left: 10%;
        right: 10%;
        width: 80%;
      }
    }
    &::after {
      background-image: url("../../assets/images/corner-left.svg"), url("../../assets/images/corner-right.svg");
      background-position: left, right;
      background-repeat: no-repeat;
      background-size: auto 16px;
      display: block;
      content: "";
      width: auto;
      height: 16px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: calc(100% + 35px);
      transform: translateX(-50%);
    }
    @include mediumDevicesMax {
      max-width: 100%;
      padding: 2rem;
    }
    h1,h2,h3,h4,p {
      margin: 0;
    }
    .ButtonContent {
      .buttonContinue {
        border-radius: 30px;
        border: none;
        width: 220px;
        height: 34px;
        margin: 2rem 12px 12px 12px;
        position: relative;
        color: $--colorWhite;
        text-align: center;
        cursor: pointer;
        padding: 0;
        text-decoration: none;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        letter-spacing: 1px;
        background: $--colorPurple;
        font-family: $MontserratRegular;
        &:hover {
          background: $--colorAzul;
        }
      }
    }
  }
}
