@import '@Sass/variables';
@import '@Sass/fonts.scss';

.Header {
  width: 100%;
  height: 70px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  //background-color: $--colorBlack;
  z-index: 88888;

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_content {
      display: flex;
      padding: 2rem 1.5rem 2.5rem 2.5rem;
      justify-content: center;
      align-items: center;
      .logo {
        max-width: 155px;
        max-height: 100px;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }

    .list_items {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1.6rem;
      //top: 2px;
      position: relative;

      @include mediumDevicesMax {
        display: flex;
        justify-content: baseline;
        align-items: center;
        padding-right: 1rem;
        width: auto;
      }

      @include smallDevices {
        padding-right: 0.6rem;
      }

      .icon_item,
      .iconBars {
        margin-left: 2rem;
        margin-right: 12px;
        @include mediumDevicesMax {
          margin-left: 12px;
          margin-right: 16px;
        }

        @include smallDevices {
          margin-right: 12px;
        }
      }

      .icon_item {
        img {
          width: 35px;
          height: 25px;
          cursor: pointer;
          @include smallDevices {
            width: 18px;
          }
        }

        h4 {
          color: $--colorGreen;
          text-transform: uppercase;
          font-size: 1.1rem;
        }
      }

      .icon_item_world {
        img {
          width: 35px;
          height: 35px;
          cursor: pointer;
          @include smallDevices {
            width: 18px;
          }
        }

        h4 {
          color: $--colorGreen;
          text-transform: uppercase;
          font-size: 1.1rem;
        }
      }

      .icon_item_profile {
        img {
          width: auto;
          cursor: pointer;
          @include smallDevices {
            width: 18px;
          }
        }

        h4 {
          color: $--colorGreen;
          text-transform: uppercase;
          font-size: 1.1rem;
        }
      }

      .iconBars {
        font-size: 1.5rem;
        color: $--colorWhite;
        cursor: pointer;
        position: relative;
        z-index: 10;
        top: 4px;

        &:hover {
          color: $--colorPurple;
        }
      }
    }
  }
}

.active {
  transition-delay: 0.3s;
  transform: rotate(45deg);

  span {
    &:nth-child(2) {
      width: 0;
    }
    &:nth-child(1) {
      transition-delay: 0.3s;
      transform: translateY(9px);
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
      transform: translateY(-9px) rotate(90deg);
    }
  }
}

// se agrega clase vacia para activar toggle del menú tanques
.activeTank {
}
