@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

.tooltipWrap {
  display: flex;
  align-items: center;
  .tooltipContainer {
    i {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHISURBVHgBrZRNSsNADIb/7xOLUAcgTnAKfgAzgA7gAuQB3QCeIDHEBzAHuRkDHiOaTZLaSlnf8lLMvi2+PHt1/eLBcIJvARtuDVdmWwF51SOfuWq52k+SCkYEnqzAYQk0FqX4o+8oJkUGn3q0iXAxQUfwkF1pMsLyyKmbYUXpEKdB18ALM2CjZKPbsMvAfFZ2H0XBf1RUkCtHkK2aC+2CTyiNnAOedUM6MXaBa4CzhNZ6TGjU97q1HTW0OsUGEN9mV8cL2GyjQvUkXe1S7YjCdE2Nz9T8INkCmFWvCnmM6hUcP9R0rQKXcwxfYXeCKdcxRCIl2Ug5pGoMoEjmoRWGEZ3JZ6ZVoJdoBCEh6QVrFjqS3rEwN/FylqxWREKAX1hfKkivTVX9F3+2uJ0KX15N+DFkVZLrGU3ZbzOjyJzQwqPjoA78dYGP1H+S9iXQYyYVglvAAAAAElFTkSuQmCC');
      display: block;
      width: 16px;
      height: 16px;
    }
  }
}
.TooltipInfo {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.TooltipInfo .tooltiptext {
  &:hover {
    visibility: visible;
  }
}

.Tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  position: relative;
  width: auto;

  .TooltipContent {
    width: auto;

    .background {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      position: relative;
      cursor: pointer;

      h4 {
        color: $--colorWhite;
        font-family: $MontserratSemiBold;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        margin-right: 1rem;
      }
      p {
        font-family: $MontserratSemiBold;
        font-size: 1rem;
        line-height: 20px;
        color: $--colorWhite;
      }

      .toolImg {
        img {
          width: 24px;
          height: 24px;
        }
        &:hover {
          .TooltipText {
            display: flex;
          }
        }

        .TooltipText {
          display: none;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: 320px;
          background-color: $--colorPurple;
          padding: 0 12px 0 20px;
          position: absolute;
          z-index: 1;
          top: -100px;
          color: $--colorWhite;
          transition: all 1s ease-in-out;
          p {
            font-family: $MontserratRegular;
            font-size: 14px;
            line-height: 17px;
            width: 100%;
            color: $--colorWhite;
          }
          .icon {
            font-size: 2rem;
          }

          .tab {
            width: 32px;
            height: 15px;
            background-color: $--colorPurple;
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            transform: rotate(180deg);
            position: absolute;
            bottom: -14px;
            left: 12px;
          }
        }
      }
    }
  }
}
