.buttonClose {
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRTBGRjRFIiBkPSJNMTAuNTg2IDEyTDIuNzkzIDQuMjA3bDEuNDE0LTEuNDE0TDEyIDEwLjU4Nmw3Ljc5My03Ljc5M2wxLjQxNCAxLjQxNEwxMy40MTQgMTJsNy43OTMgNy43OTNsLTEuNDE0IDEuNDE0TDEyIDEzLjQxNGwtNy43OTMgNy43OTNsLTEuNDE0LTEuNDE0eiIvPjwvc3ZnPg==');
  background-size: cover;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36px;
  right: 36px;
  width: 32px;
  height: 32px;
  z-index: 991;
}