@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

main.bienvenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.noticeWrap {
  position: relative;
  max-width: 640px;
  width: 90%;
  .noticeHeader {
    display: grid;
    grid-template-columns: 126px 1fr;
    grid-template-rows: 72px;
    height: 72px;
    &::before,
    &::after {
      background-image: url(../../assets/images/notice-header.svg);
      display: block;
      content: '';
      width: 100%;
    }
    &::before {
      background-position: left;
    }
    &::after {
      background-position: right;
    }
    h2 {
      font-weight: bold;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      text-align: center;
      line-height: 72px;
    }
  }
  .noticeContainer {
    background-image: url(../../assets/images/notice-body.svg);
    background-position: right bottom;
    border-left: 1px solid #E6F85A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .noticeContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      padding: 24px 36px;
      figure {
        border-radius: 100%;
        margin: 0;
        padding: 0;
        width: 180px;
        height: 180px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .planetFigure {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      aspect-ratio: 16 / 9;
      position: relative;
      @include largeDevices {
        margin-bottom: 0.5vw;
        width: 100%;
      }
      .planetImage {
        position: absolute;
        width: auto;
        height: 100%;
        &.urano {
          height: 140%;
        }
      }

      .lockedPlanet {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          &:first-of-type {
            height: 112%;
            opacity: .7;
          }
          &:last-of-type {
            width: 12vw;
            animation: glowing 3s linear infinite;
            @include mediumDevices {
              width: 6vw;
      
            }
            @include largeDevices {
              width: 3.2vw;
            }
          }
        }
      }
    }


    
  }
}