@import '@Sass/variables';
@import '@Sass/fonts.scss';
@import '@Sass/components/extends.scss';
@import '@Sass/utils';

main.bienvenido {
  display: flex;
  align-items: center;
  justify-content: center;
}