@import '@Sass/variables';
@import '@Sass/fonts';

.navigation,
.navigationCollapse {
  background-color: $--colorBlack;
  width: 35vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  filter: drop-shadow(-9px 4px 7px rgba(0, 0, 0, 0.49));
  @include mobilePlusMax {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 90px 3vw 0;
    a, span {
      color: #F4FABF;
      display: block;
      font-size: 20px;
      line-height: 32px;
      text-align: right;
      + div {
        margin-top: 12px
      }
    }
    div {
      span {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 6px;

        &::after {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNFMEZGNEUiIHN0cm9rZS1kYXNoYXJyYXk9IjEyIiBzdHJva2UtZGFzaG9mZnNldD0iMTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTIgMTZsLTcgLTdNMTIgMTZsNyAtNyI+PGFuaW1hdGUgZmlsbD0iZnJlZXplIiBhdHRyaWJ1dGVOYW1lPSJzdHJva2UtZGFzaG9mZnNldCIgZHVyPSIwLjNzIiB2YWx1ZXM9IjEyOzAiLz48L3BhdGg+PC9zdmc+');
          background-size: cover;
          content: '';
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      + a {
        margin-top: 12px
      }
    }
    nav {
      padding: 0;
      a {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 32px;
      }
    }

  }
}

.closeNav {
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyOCAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS4wMDAxIDEyLjk5OTlMMjcuMDAwMSAwLjk5OTkzOUwyNi4yOTI5IDAuMjkyODQ3TDE0LjI5MjkgMTIuMjkyOEwyLjAwMDA2IC02LjMyNjA2ZS0wNUwxLjI5MjkxIDAuNzA3MDI5TDEzLjU4NTkgMTIuOTk5OUwwLjgzNzA5NyAyNS43NDg3TDEuNTQ0MjUgMjYuNDU1OEwxNC4yOTMgMTMuNzA3TDI2Ljc0ODggMjYuMTYyOUwyNy40NTU5IDI1LjQ1NThMMTUuMDAwMSAxMi45OTk5WiIgZmlsbD0iI0UwRkY0RSIvPgo8L3N2Zz4K');
  background-size: cover;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36px;
  right: 36px;
  width: 32px;
  height: 32px;
}

.navigation_content {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  width: 90%;

  .link_proyects {
    h3 {
      font-size: 1rem;
      color: $--colorYellow;
      line-height: 1;
      text-decoration: none;
      text-align: right;
      cursor: pointer;
      font-family: $MontserratBold;
      &:hover {
        color: $--colorWhite;
        text-decoration: underline;
      }
    }
    .iconSing {
      position: relative;
      top: 2px;
      margin-right: 6px;
    }

    ul {
      list-style: none;
      text-align: right;
      color: $--colorWhite;
      margin: 0;
      .linkProject {
        margin: 12px 0 12px 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        h4 {
          text-decoration: none;
          width: auto;
          padding: 0;
          margin: 0;
          text-align: right;
          font-family: $MontserratBold;
          &:hover {
            color: $--colorPurple;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.navigationCollapse {
  transform: translateX(100%);
}
