@import '@Sass/variables';
@import '@Sass/fonts';

.navigation {
  width: 35vw;
  height: 100vh;
  background-color: $--colorBlack;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  filter: drop-shadow(-9px 4px 7px rgba(0, 0, 0, 0.49));
  @include mobilePlusMax {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 90px 3vw 0;
    a {
      color: #F4FABF;
      display: block;
      text-align: right;
      font-size: 20px;
    }

  }
}

.closeNav {
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRTBGRjRFIiBkPSJNMTAuNTg2IDEyTDIuNzkzIDQuMjA3bDEuNDE0LTEuNDE0TDEyIDEwLjU4Nmw3Ljc5My03Ljc5M2wxLjQxNCAxLjQxNEwxMy40MTQgMTJsNy43OTMgNy43OTNsLTEuNDE0IDEuNDE0TDEyIDEzLjQxNGwtNy43OTMgNy43OTNsLTEuNDE0LTEuNDE0eiIvPjwvc3ZnPg==');
  background-size: cover;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36px;
  right: 36px;
  width: 32px;
  height: 32px;
}

.navigation_content {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  width: 90%;

  .link_proyects {
    h3 {
      font-size: 1rem;
      color: $--colorYellow;
      line-height: 1;
      text-decoration: none;
      text-align: right;
      cursor: pointer;
      font-family: $MontserratBold;
      &:hover {
        color: $--colorWhite;
        text-decoration: underline;
      }
    }
    .iconSing {
      position: relative;
      top: 2px;
      margin-right: 6px;
    }

    ul {
      list-style: none;
      text-align: right;
      color: $--colorWhite;
      margin: 0;
      .linkProject {
        margin: 12px 0 12px 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        h4 {
          text-decoration: none;
          width: auto;
          padding: 0;
          margin: 0;
          text-align: right;
          font-family: $MontserratBold;
          &:hover {
            color: $--colorPurple;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.navigation_colapse {
  font-family: $--fontFamily;
  width: 0%;
  height: 100%;
  background-color: $--colorAzulMarino;
  z-index: 99999;
  position: fixed;
  top: 0;
  right: -70%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
